
@import '~/assets/scss/variables.scss';
body{
    background-color: #000 !important;

    color: $primary;
}

a{
    color: #ea2a5d;
}

.font-dark {
    color: $gray-dark;
}
.font-grey {
    color: $gray;
}
.is-primary{
    background-color: $primarybg !important;
}
.is-magentbg{
    background-color: $primary !important;
}
.navbar-item{
    color: $primary !important;
}

.border-fux{
    border: 2px solid $primary;
}
.border-dark{
    border: 2px solid $gray-dark;
}
.border-gray{
    border: 2px solid $gray;
}
.bg-dark{
    background-color: $gray-dark;
}

.bg-black{
    background-color: #000;
}
.bg-fux{
    background-color: $secundarybg;
}
.font-white{
    color: #fff;
}