
@import '~/assets/scss/variables.scss';

body{
    background-color: #000 !important;

    color: $primary;
}

a{
    color: #ea2a5d;
}


.is-primary{
    background-color: $primarybg !important;
}
.is-magentbg{
    background-color: $primary !important;
}
.navbar-item{
    color: $primary !important;
}
