@import "variables";
body{
    background-color: #000000;
    color: $primary;
}

a{
    color: #ea2a5d;
}

// a:hover{
//     background-color: $secondary;
// }
.is-primary{
    background-color: $primarybg !important;
}
.is-magentbg{
    background-color: $primary !important;
}
.navbar-item{
    color: $primary !important;
}
