@import "variables";
body{
    // background-color: #1d1d1b !important;
    background-color: #000 !important;

    color: $primary;
}

a{
    color: #ea2a5d;
}

// a:hover{
//     background-color: $secondary;
// }
.is-primary{
    background-color: $primarybg !important;
}
.is-magentbg{
    background-color: $primary !important;
}
.navbar-item{
    color: $primary !important;
}
