@import "variables";
body{
    background-color: #000000;
    color: $primary;
}

a{
    color: #ea2a5d;
}

.is-primary{
    background-color: $primarybg !important;
}
.navbar-item{
    color: $primary !important;
}
