// @import 'bulma/css/bulma.min.css';



$primary: #ea2a5d;
$primarybg: rgb(19, 18, 18);
$secondary: #e3fa12;



// variables modificadas de bulma o de Buefy
$link: #e3fa12;
$scheme-main-bis: $secondary;

$scheme-main: $secondary;